
.allCard {
  
  display: flex;
  flex-wrap: wrap;
  justify-content: space-around;
  margin: 5rem;
  gap: 0.2rem ;
  position: relative;
}

@media (max-width: 600px) {
  .allCard {
    flex-direction: column;
    align-items: center;
  }

  .card {
    width: 90%; 
  }
}
img {
  display: block;
  background-size: cover;
  background-repeat: no-repeat;
  background-position: center center;
  height: 236px;
}
.p1 {
  margin: 0px;
  font-family: Roboto, Helvetica, Arial, sans-serif;
  font-weight: 400;
  font-size: 0.75rem;
  line-height: 1.66;
  letter-spacing: 0.03333em;
  color: rgb(93, 97, 103);
}
.p2 {
  margin: 0px 0px 0.35em;
  font-family: Roboto, Helvetica, Arial, sans-serif;
  line-height: 1.334;
  letter-spacing: 0em;
  font-size: 15px;
  font-weight: 500;
}

.price {
  margin: 0px;
  font-family: Roboto, Helvetica, Arial, sans-serif;
  line-height: 1.5;
  letter-spacing: 0.00938em;
  color: rgb(93, 97, 103);
  font-size: 13px;
  font-weight: 600;
  text-decoration: none;
  opacity: 1;
}
.buy-button {
  display: none;
  position: absolute;
  top: 10px; 
  right: 10px; 
  padding: 7px 10px;
  background-color: #646464;
  color: white;
  text-align: center;
  text-decoration: none;
  border: none;
  cursor: pointer;
  border-radius: 500px;
  transition: background-color 0.3s;
}

.card:hover .buy-button {
  display: block;
}
