.card {
  width: 300px;
  border: 1px solid #e0e0e0;
  border-radius: 8px;
  overflow: hidden;
}
.allCard {
  margin: 5rem;
}

.card-image {
  position: relative;
}

.buy-button {
  position: absolute;
  top: 10px;
  right: 10px;
  background-color: #4caf50;
  border: none;
  color: white;
  padding: 10px;
  cursor: pointer;
  border-radius: 5px;
  transition: background-color 0.3s;
}

.buy-button:hover {
  background-color: green;
}

.card-content {
  padding: 20px;
}

.card-content h2,
.card-content p {
  margin: 0;
  padding: 0;
}

.card-price {
  color: #333;
  font-size: 24px;
  margin-top: 10px;
}
.allCard {
  display: flex;
  flex-wrap: wrap;
  justify-content: space-around;
  margin: 5rem;
}

.card {
  width: 300px;
  border: 1px solid #e0e0e0;
  border-radius: 8px;
  overflow: hidden;
  margin-bottom: 2rem; /* فاصله بین کارت‌ها در حالت عمودی */
}

/* Media Query برای صفحات با عرض کمتر از 600px */
@media (max-width: 600px) {
  .allCard {
    flex-direction: column;
    align-items: center;
  }

  .card {
    width: 90%; /* تنظیم عرض کارت بر اساس عرض صفحه */
  }
}
img {
  display: block;
  background-size: cover;
  background-repeat: no-repeat;
  background-position: center center;
  height: 236px;
}
