* {
  font-family: Poppins, sans-serif;
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}
.heru {
  height: 650px;
  background-image: url(../../../hero-bg.jpg);
  background-position: left;
  background-size: cover;
  background-repeat: no-repeat;
  border-bottom-right-radius: 80px;
  border-bottom-left-radius: 80px;
}
.navbar {
  display: flex;
  justify-content: space-between;
  align-items: center;
  /* background-color: #f5f5f5; */
  padding: 35px;
}

.logo {
  font-size: 24px;
  color: black;
  padding: 35px;
}

.menu-icon {
  display: none;
  font-size: 24px;
  cursor: pointer;
}

.menu {
  display: flex;
  padding: 30px;
}

.menu-item {
  margin-left: 20px;
  color: black;
  text-decoration: none;
}
.home {
  color: #ff0000;
}

.menu-item:hover {
  text-decoration: underline;
}

@media (max-width: 750px) {
  .menu {
    display: none;
    position: absolute;
    right: 0;
    top: 60px;
    flex-direction: column;
    background-color: #f5f5f5;
    width: 100%;
    text-align: right;
    padding: 10px;
  }

  .menu.active {
    display: flex;
  }

  .menu-icon {
    display: block;
  }
}
h2 {
  font-family: Roboto, Helvetica, Arial, sans-serif;
  letter-spacing: -0.00833em;
  margin: 1rem 0px 1rem -10px;
  font-weight: 400;
  line-height: 50px;
  font-size: 60px;
  padding: 0 0 0 6rem;
}
h4 {
  padding-left: 20px;
  font-size: 30px;
  padding-bottom: 20px;
  padding-left: 4rem;
}
.button1 {
  background-color: #ff0000; /* Green */
  border: none;
  color: white;
  padding: 0.5rem 1.5rem;
  text-align: center;
  text-decoration: none;
  display: inline-block;
  font-size: 16px;
  margin: 4px 8rem;
  cursor: pointer;
  transition-duration: 0.4s;
  border-radius: 80px;
}

.button1:hover {
  background-color: green;
  color: white;
}
